<html>
    <head>
        <title>Goodreads Project</title>

    </head>
    <body>
        <div style="width: 1200px; height: 400px;text-align: center;margin-left:200px;margin-top:50px; ">
            Hi! Thanks for visiting my project. The purpose of this project is to provide an interface that can help readers <b>search and filter
            information about books </b> from the <b>Goodreads</b> website. I scraped some data about books and authors from the website into the local database
            and I wrote queries in order to clean,arrange and analyse the dataset. Most of the backend functionality is done. Currently I'm working
            on developing a basic UI for this application.

        </div>
    </body>
</html>